/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
body{
    font-family: calibri;
}
.navbar-container{

    display: flex;
    /* flex-direction:row; */
    width:100%;
    justify-content:left;
}
ul{
    margin-left:5px;
}
li{
    display:inline-block;
    list-style:none;
    margin-left:10px;
    padding:10px;
    color:#808080;
}

li:first-child
{
    color:black;
    font-weight:bold;
}

.button-group{
   padding:20px;
   width:600px;

}

.nav-button{

    padding:13px;
    border-radius:10px;
    background-color:#4700b3;
    border:1px solid #4700b3;
    color:white;
    float:right;
    width:120px;
}
nav div img{

  width:80px;
  padding:20px;
  margin-left:140px;
}

.banner-container{
    margin-left:60px;
    display:flex;
}

.heading-text{

    font-size: 70px;
    color:#290066;
    margin-bottom:15px;
   
}

h1 span{
    color:#4700b3;
    
}

.description{
    
    color:#808080;
    width:60%;

}

.nav-button.btn{

    padding:15px;
    border-radius:10px;
    background-color:#4700b3;
    border:1px solid #4700b3;
    color:white;
    float:left;
    width:170px;
    margin-top:40px;

}

