body{
    width:100%;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.main_div{

    background-image: url('./Photos/mainBackground.png');
    background-repeat: no-repeat;
     background-size:100%;
    height:970px;
    width:100%;
}

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:500px;
    padding-top:25px;
}

#logo{
    width:120px;
} 

.navbar div ul{
    list-style: none;
    display: flex;
}

.navbar div ul li{

    margin-left:60px;
    color:white
}

.main_heading{

    margin-left:180px;
    color:white;
    font-size:65px;
    font-weight:bold;
    width:40%;
    margin-top:260px;
}

.sub_heading{
    color:white;
    margin-left:180px;
    margin-top:30px;
    width:25%;
    font-size: 17px;
    line-height: 1.5;
}

#learn_more_btn{

    padding:13px;
    width:130px;
    border-radius: 25px;
    background-color: #6663e9;
    color:white;
    border:none;
    font-weight: bold;
}

.logo_div{
    background-color: white;
    width:90%;
    display:flex;
    justify-content: space-around;
    margin:auto;
    padding: 35px;
    border-radius: 20px;
    position: absolute;
    top:920px;
    left:40px;
   
}

.logo_div div img{

    width:120px;
}

.home_img{

    height:3800px;
    background-color: rgb(214, 218, 218);
}

.home_photos{
    display:flex;
    justify-content: center;
    column-gap:40px;
    row-gap: 160px;
    margin-top:100px;
    flex-wrap:wrap;
}

.home_bg_image{
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:20px;
    width: 350px;
    height:370px;

}

.home_text_div{

    background-color:white;
    padding:20px;
    width:260px;
    margin:auto;
    display:flex;
    justify-content: space-around;
    align-items:center;
    border-radius:20px;
    margin-top:320px;
}