body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
     overflow-x: hidden;
     margin:auto;
    
   
}


.navbar{
    margin-top: 20px;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.navbar div ul{
    display:flex;
    
}

.navbar div ul li{
    list-style: none;
    margin-left:60px;
    
   
}

.navbar div img{
   width:110px;
}

#btn_pink{
    width:40px;
}

#btn_pink_2
{
    width:70px;
}
.card_back_img{
  position:absolute;
  right:-20px;
  top:40px;
}

.card_front_img{
    position:absolute;
     right:-240px;
     top:130px;
}

.main_1  h1{
    color:white;
    font-size:70px;
    line-height: 0.7;
    font-weight:100;
}

.main_1 div{
    margin-left:100px;
}

#arrow_img
{

    margin-left:10px;
}

.user_info{
    display:flex;
    color:white;
    margin-top:80px;
    margin-bottom:160px;
}

.logo-section{
    display:flex;
    justify-content: center;
    gap:120px;
    align-items: center;
    background-color: #2f302f;
    height:150px;
}

.logo-section img{
  width:110px;
}

.main2_sec1{
    display:flex;
}